body {
font-family: "Comic Sans MS", cursive, sans-serif;
}



#wrapper {
margin: 0 auto;
padding: 0 2%;
background: #fff;
width: 96%;
max-width: 960px;
}

#header {
background: #849fb9;
padding: 20px;
}

#header h1 {
margin: 0;
}

#navigation {
float: left;
width: 100%;
background: #2a5973;
margin-bottom: 40px;
}

#navigation ul {
margin: 0;
padding: 0;
}

#navigation ul li {
list-style-type: none;
display: inline;
}

#navigation li a {
display: block;
float: left;
padding: 5px 10px;
color: #fff;
text-decoration: none;
border-right: 1px solid #fff;
}

#navigation li a:hover {
background: #8784b9;
}

#content {
clear: left;
padding: 20px;
}

#content h2 {
color: #000;
font-size: 160%;
margin: 0 0 20px;
}

#footer {
background: #849fb9;
text-align: right;
padding: 20px;
height: 1%;
}